@import url("acucentro.css");

main{
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
    align-items: center;
}

#contenido_404{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

#pirata{
    width:40%;
    text-align: center;
    background-color: darkcyan;
    color: aliceblue;
}

#imaen_pirata{
    width:40%;
}

#pirata h1{
    font-size: 300px;
    margin:0;

}

/*Responsive*/
@media screen and (max-width:1020px){

    #contenido_404{
        width: 100%;
        flex-direction: column;
    }

    #pirata h1 {
        font-size: 100px;
    }

    #pirata{
        width: 100%;
        padding: 10px;
    }
}
